/* Footer styles moved from footer.php */
.footer-links a img {
  border: none;
  width: 20px;
  height: 20px;
  vertical-align: middle;
}
.footer-links a {
  text-decoration: none !important;
}
.footer-links span {
  margin-right: 50px; /* Adjust the value for a bigger or smaller gap */
}
.site-footer {
  border-top: 1px solid #dbdbdb;
  width: 100%;
  position: relative;
  margin-top: auto;
  background: #fff;
}
.sticky-footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background: #fff;
  z-index: 10;
} 