/* Footer styles moved from footer.php */
.footer-links a img {
  border: none;
  width: 20px;
  height: 20px;
  vertical-align: middle;
}
.footer-links a {
  text-decoration: none !important;
}
.footer-links span {
  margin-right: 50px; /* Adjust the value for a bigger or smaller gap */
}
.site-footer {
  border: 2px solid #dbdbdb; /* You can adjust the color and thickness */
} 